.container {
  .input_video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &.selfie {
      transform: scale(-1, 1);
    }
  }

  .canvas-container {
    position: relative;
    .output_canvas {
      display: block;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
    .title {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      font-weight: 600;
      color: rgb(252, 143, 0);
    }
  }
}
